/* The Overflow Property */

/* div.first {
  overflow: hidden;
}
div.second {
  overflow-x: hidden; /* Hide horizontal scroolbar */
  /* overflow-y: scroll; /* Add vertical scroolbar */
/* } /  */

/* The Float Properties */
/* 
img {
  float: inline-endright;
}
div {
  clear: left;
}
img {
  width: 300px;
  height: 150px;
  margin-right: 20px;
  float: left;
} */

/* Opacity, Transparency */
/* 
#img1 {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
/* } */
/* #img2 {
    width: 300px;
    opacity: 0.7;
} */ 
/* 
The Units in CSS

cm: centimeters
mm: millimeters
in: inches (1in = 96px = 2.54cm)
px:  pixels (1px = 1/96th of 1in)
pt: points (1pt = 1/72 of 1in)
pc: picas (1pc = 12 pt) */

/* 
em: Relative to the font-size of the element
ex: Relative to the x-height of the current font
ch: Relative to width of the "0"
rem:    Relative to font-size of the root element
vw: Relative to 1% of the width of the viewport
vh: Relative to 1% of the height of the viewport
vmin:   Relative to 1% of viewport's* smaller dimension
vmax:   Relative to 1% of viewport's* larger dimension
%:  Relative to the parent element */

/* ******************************* */

/* CSS Setting Height and Width */
/* 
div {
  height: 200px;
  width: 50%;
}

div {
  width: 50%;
  max-width: 500px; */
/* } */


/* ****************************** */
/* 
CSS Outline

CSS has 5 outline properties:
outline-style
outline-color
outline-width
outline-offset
outline

p {
  outline-style: dotted;
} */

/* h1{
  outline: 5px double black;
}
h2{
  outline-style: dashed ;
  outline-color: red;
  outline-width: 15px;
}
p {
  border: 1px dotted black;
  outline-style: solid;
  outline-color: blue;
  outline-width: 10px;
  outline-offset: 20px;
} */
/* .button {
  text-decoration: none;
  display: inline-block;
  background: steelblue;
  padding: 1em 3em;
  color: white;
  outline: 3px solid steelblue;
}
.button:hover {
  outline: 3 px solid steelblue;
  outline-offset: 5px;
} */

/* **************************************** */

/* CSS Combinators */

/* CSS has four different combinators:

descendant selector (space)

div p {
  background-color: blue;
  color: white;
}

child selector (>)

div > p {
  background-color: blue;
  color: white;
}

adjacent sibling selector (+)

h2 + p {
  background-color: blue;
  color: white;
}


general sibling selector (~) */

/* h2 ~ p {
  background-color: blue;
  color: white;
} */







